.card_profile_image_container {
  border-radius: 12px;
  overflow: hidden;
}

.card_profile_image {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.card_profile_image_round {
  vertical-align: middle;
  border-style: none;
  width: 90px;
  height: 90px;
  box-shadow: 0 15px 35px rgb(50, 50, 93), 0 5px 15px rgb(0, 0, 0) !important;
  border-radius: 50% !important;
}